<% provide(:title, 'All Books') %>

<%= render partial: 'layouts/search', locals:{path: books_path} %>

<% session[:last_product_page] = request.env['HTTP_REFERER'] || products_path %>

<h1>All Books</h1>

<%= will_paginate %>

<ul class="books">
  <%= render @books %>
</ul>

<%= will_paginate %>
