<h1>Listing vendors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rating</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.name %></td>
        <td>
          <% vendor.rating.times do %>
            <i class="fa fa-star"></i>
          <% end %>
        </td>
        <td><%= link_to 'Show', vendor %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
