<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vendor.name %>
</p>

<p>
    <b> Vendor Avg Rating: </b>
    <% @vendor.rating.times do %>
      <i class="fa fa-star"></i>
    <% end %>
</p>

<%= link_to 'Back', vendors_path %>
