<div class="row">
  <div class="span6 offset3">
      <%= form_tag(path, method: "get" ) do %>
        <%= text_field_tag(:search, params[:search], :size => 150, :placeholder=> "Search") %>
        <%= button_tag(type: "submit", class: "btn  btn-success") do %>
           <i class="icon-search"></i>
        <% end %>
      <% end %>
  </div>
</div>
